
$babyrose:rgb(255, 176, 238);
$black:rgb(0,0,0);
$pastelpurple:rgb(235, 183, 255);
$redes: ( 
        tw: #55acee,
        fb:  #3a5795,
        send-mail: #C25E30
); 

.parrSass{
    color: $babyrose;
}
.titleSass{
    color: $pastelpurple;
    text-align: center;
}