@import "parrafos";
@import "colours";

.map{
	background-color: rgb(255, 225, 241);
}

@mixin flex-end{
	display: flex;
	flex-direction: row;
	justify-content:flex-end;
}
@mixin overflow-x {
	overflow-x: hidden;
}
@mixin flex-column{
	display: flex;
	flex-direction:column;
}
